<meta charset="utf-8" />
<title>*********</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/css/templates/default/color.css"> 
<link rel="stylesheet" type="text/css" href="/css/templates/default/style.css"> 
<script type="text/javascript" src="https://raw.github.com/melechi/JS-Klass-Kit/1.0.2/bin/jskk.min-1.0.2.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/scripts.js"></script>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
