<meta charset="utf-8" />
<title>Shtml foundation flat pack</title>
<meta name="description" content="Rapidly deploy a scalable flat website">
<meta name="keywords" content="">
<!-- Meta scrapers -->
<meta property="og:title" content="*********">
<meta property="og:type" content="*********">
<meta property="og:url" content="*********">
<meta property="og:image" content="*********">
<meta property="og:site_name" content="*********">
<meta property="og:description" content="*********">
<!-- Included styles and scripts -->
<link rel="stylesheet" type="text/css" href="/css/templates/default/color.css"> 
<link rel="stylesheet" type="text/css" media="screen, print" href="/css/templates/default/style.css"> 
<link type="image/png" rel="icon" href="/images/templates/default/favicon.png">
<script type="text/javascript" src="https://raw.github.com/melechi/JS-Klass-Kit/1.0.2/bin/jskk.min-1.0.2.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<!--[if lt IE 9]>
<link type="text/css" rel="stylesheet" href="/css/ie.css" />
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

